In [0]:
def missing_values_table(df):
	mis_val = df.isnull().sum()
	mis_val_percent = 100 * df.isnull().sum() / len(df)
	mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
	mis_val_table_ren_columns = mis_val_table.rename(columns={0: 'Missing Values', 1: '% of Total Values'})
	mis_val_table_ren_columns = mis_val_table_ren_columns[mis_val_table_ren_columns.iloc[:, 1] != 0].sort_values('% of Total Values', ascending=False).round(2)
	print("Your selected dataframe has " + str(df.shape[1]) + " columns.\n There are " + str(mis_val_table_ren_columns.shape[0]) + " columns that have missing values.")
	return mis_val_table_ren_columns
    
#Function for Calculating the Accuracy
def accuracy(crossTab):
    tot_Postive = crossTab[0][0] + crossTab[1][1]
    tot_predictions = crossTab[0][0] + crossTab[1][1] + crossTab[1][0] + crossTab[0][1]
    return ((tot_Postive / tot_predictions)) * 100

def oneHotEncodingOfVariable(data,colsToEncode):
    import pandas as pd
    for col in colsToEncode:
       data = pd.get_dummies(data, columns= [col], prefix=[col], prefix_sep='_')
    return data

In [0]:
pwd

'G:\\Study\\Projects\\PycharmProjects\\Learning\\American Express Competition - Analytics Vidhya'

In [0]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [0]:
train = pd.read_csv(r'train.csv')
test = pd.read_csv(r"test.csv")

In [0]:
# finalData = pd.merge(train, hist, on=['user_id', 'product'], how='inner', suffixes=('_left', '_right'))

In [0]:
missing_values_table(train)

Your selected dataframe has 15 columns.
 There are 6 columns that have missing values.

                        Missing Values  % of Total Values
product_category_2              365854              78.97
city_development_index          125129              27.01
user_group_id                    18243               3.94
gender                           18243               3.94
age_level                        18243               3.94
user_depth                       18243               3.94

In [0]:
del train['product_category_2']
train['city_development_index'] = np.where(train['city_development_index'].isnull(), train['city_development_index'].mode(), train['city_development_index'])
train['user_group_id'] = np.where(train['user_group_id'].isnull(), train['user_group_id'].mode(), train['user_group_id'])
train['gender'] = np.where(train['gender'].isnull(), train['gender'].mode(), train['gender'])
train['age_level'] = np.where(train['age_level'].isnull(), train['age_level'].mode(), train['age_level'])
train['user_depth'] = np.where(train['user_depth'].isnull(), train['user_depth'].mode(), train['user_depth'])

In [0]:
train.head()

,session_id,DateTime,user_id,product,campaign_id,webpage_id,product_category_1,user_group_id,gender,age_level,user_depth,city_development_index,var_1,is_click
0,140690,2017-07-02 00:00,858557,C,359520,13787,4,10.0,Female,4.0,3.0,3.0,0,0
1,333291,2017-07-02 00:00,243253,C,105960,11085,5,8.0,Female,2.0,2.0,2.0,0,0
2,129781,2017-07-02 00:00,243253,C,359520,13787,4,8.0,Female,2.0,2.0,2.0,0,0
3,464848,2017-07-02 00:00,1097446,I,359520,13787,3,3.0,Male,3.0,3.0,2.0,1,0
4,90569,2017-07-02 00:01,663656,C,405490,60305,3,2.0,Male,2.0,3.0,2.0,1,0

In [0]:
train = oneHotEncodingOfVariable(train,['product','campaign_id','webpage_id','gender','city_development_index','user_depth','age_level','user_group_id','product_category_1'])

In [0]:
Y_train = train.loc[:,'is_click']
X_train = train

In [0]:
del X_train['DateTime']
del X_train['user_id']
del X_train['is_click']

In [0]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(kind='regular')
X_SMOTE, y_SMOTE = sm.fit_sample(X_train, Y_train)
X_SMOTE = pd.DataFrame(X_SMOTE)
X_SMOTE.columns = X_train.columns

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_SMOTE,y_SMOTE, test_size=0.20)

In [0]:
X_train.columns[1:len(X_train.columns)]

Index(['var_1', 'product_A', 'product_B', 'product_C', 'product_D',
       'product_E', 'product_F', 'product_G', 'product_H', 'product_I',
       'product_J', 'campaign_id_82320', 'campaign_id_98970',
       'campaign_id_105960', 'campaign_id_118601', 'campaign_id_359520',
       'campaign_id_360936', 'campaign_id_396664', 'campaign_id_404347',
       'campaign_id_405490', 'campaign_id_414149', 'webpage_id_1734',
       'webpage_id_6970', 'webpage_id_11085', 'webpage_id_13787',
       'webpage_id_28529', 'webpage_id_45962', 'webpage_id_51181',
       'webpage_id_53587', 'webpage_id_60305', 'gender_Female', 'gender_Male',
       'city_development_index_1.0', 'city_development_index_2.0',
       'city_development_index_3.0', 'city_development_index_4.0',
       'user_depth_1.0', 'user_depth_2.0', 'user_depth_3.0', 'age_level_0.0',
       'age_level_1.0', 'age_level_2.0', 'age_level_3.0', 'age_level_4.0',
       'age_level_5.0', 'age_level_6.0', 'user_group_id_0.0',
       'user_group_id_1.0', 'user_group_id_2.0', 'user_group_id_3.0',
       'user_group_id_4.0', 'user_group_id_5.0', 'user_group_id_6.0',
       'user_group_id_7.0', 'user_group_id_8.0', 'user_group_id_9.0',
       'user_group_id_10.0', 'user_group_id_11.0', 'user_group_id_12.0',
       'product_category_1_1', 'product_category_1_2', 'product_category_1_3',
       'product_category_1_4', 'product_category_1_5'],
      dtype='object')

In [0]:
# temp = X_train
X_train = X_train[X_train.columns[1:len(X_train.columns)]]
X_test = X_test[X_test.columns[1:len(X_test.columns)]]

In [0]:
X_train.head()

,var_1,product_A,product_B,product_C,product_D,product_E,product_F,product_G,product_H,product_I,...,user_group_id_8.0,user_group_id_9.0,user_group_id_10.0,user_group_id_11.0,user_group_id_12.0,product_category_1_1,product_category_1_2,product_category_1_3,product_category_1_4,product_category_1_5
228042,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
535490,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
663682,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
242325,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
646999,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [0]:
X_test.head()

,var_1,product_A,product_B,product_C,product_D,product_E,product_F,product_G,product_H,product_I,...,user_group_id_8.0,user_group_id_9.0,user_group_id_10.0,user_group_id_11.0,user_group_id_12.0,product_category_1_1,product_category_1_2,product_category_1_3,product_category_1_4,product_category_1_5
68637,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
784330,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
251583,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
735758,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
468026,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [0]:
Y_train = pd.DataFrame(Y_train)
Y_test = pd.DataFrame(Y_test)
Y_train.columns = ['is_click']
Y_test.columns = ['is_click']

In [0]:
Y_train['is_click'].value_counts()[1] / (Y_train['is_click'].value_counts()[0] + Y_train['is_click'].value_counts()[1]) *100

49.96744490230577

In [0]:
Y_train.head()

   is_click
0         0
1         0
2         1
3         0
4         1

In [0]:
import tensorflow as tf
model = tf.estimator.LinearClassifier(
    n_classes = 2,
    model_dir="train", 
    feature_columns=X_train.columns)

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': 'train', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x00000078151E9320>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [0]:
X_train.index

Int64Index([228042, 535490, 663682, 242325, 646999, 700253, 606836, 128368,
            227509, 623686,
            ...
            681925, 811163, 386197, 354048, 841055,  90201, 224552, 788722,
            853527, 629950],
           dtype='int64', length=691136)

In [0]:
Y_train.index = X_train.index

In [0]:
#Logistic Regression
from sklearn import linear_model
lr = linear_model.LogisticRegression()
lr.fit(X_train,Y_train['is_click'])
prediction_lr = lr.predict(X_test)
cmatrix_lr = pd.crosstab(prediction_lr,Y_test['is_click'])
print(accuracy(cmatrix_lr))
# print(accuracy(cmatrix_tree))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

92.15320863042874

In [0]:
#Random Forest
from sklearn import ensemble
rf = ensemble.RandomForestClassifier()
rf.fit(X_train,Y_train['is_click'])
prediction_rf = rf.predict(X_test)
cmatrix_rf = pd.crosstab(prediction_rf,Y_test['is_click'])
print(accuracy(cmatrix_rf)) #   99.0228013029316

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

92.12484952310399

In [0]:
#oob_score = TRUE, n_jobs = -1,random_state =50,max_features = "auto", min_samples_leaf
#Random Forest
from sklearn import ensemble
rf1 = ensemble.RandomForestClassifier(n_estimators=370,oob_score = True, n_jobs = -1,max_features = "auto", min_samples_leaf=5)
rf1.fit(X_train,Y_train['is_click'])
prediction_rf_1 = rf1.predict(X_test)
cmatrix_rf_1 = pd.crosstab(prediction_rf_1,Y_test['is_click'])
print(accuracy(cmatrix_rf_1)) #   95.30058991184464

92.08202148347068

In [0]:
#Predctng usng KNN
from sklearn import neighbors
KN = neighbors.KNeighborsClassifier()
KN.fit(X_train,Y_train)
predictKN = KN.predict(X_test)
cmatrix_KN = pd.crosstab(predictKN, Y_test)
print(accuracy(cmatrix_KN)) #   0.33 - 92.80174985086498

In [0]:
# #Predicting using MLP
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(30,30,30))   
mlp.fit(X_train,Y_train['is_click'])
Predict_MLP =mlp.predict(X_test)
cmatrix_MLP = pd.crosstab(Predict_MLP,Y_test['is_click'])
print(accuracy(cmatrix_MLP)) #   0.33 - 86.65075893153046

92.15205111584406

In [0]:
from sklearn import tree
tr = tree.DecisionTreeClassifier()
tr.fit(X_train,Y_train['is_click'])
Predict_tree =tr.predict(X_test)
cmatrix_tree = pd.crosstab(Predict_tree,Y_test['is_click'])
print(accuracy(cmatrix_tree)) #   0.33 - 86.65075893153046

92.13237336790444

In [0]:
missing_values_table(test)

Your selected dataframe has 65 columns.
 There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [0]:
del test['product_category_2']
test['city_development_index'] = np.where(test['city_development_index'].isnull(), test['city_development_index'].mode(), test['city_development_index'])
test['user_group_id'] = np.where(test['user_group_id'].isnull(), test['user_group_id'].mode(), test['user_group_id'])
test['gender'] = np.where(test['gender'].isnull(), test['gender'].mode(), test['gender'])
test['age_level'] = np.where(test['age_level'].isnull(), test['age_level'].mode(), test['age_level'])
test['user_depth'] = np.where(test['user_depth'].isnull(), test['user_depth'].mode(), test['user_depth'])

KeyError: 'product_category_2'

In [0]:
test = oneHotEncodingOfVariable(test,['product','campaign_id','webpage_id','gender','city_development_index','user_depth','age_level','user_group_id','product_category_1'])

In [0]:
test.shape

In [0]:
test.head()

,session_id,var_1,product_A,product_B,product_C,product_D,product_E,product_F,product_G,product_H,...,user_group_id_8.0,user_group_id_9.0,user_group_id_10.0,user_group_id_11.0,user_group_id_12.0,product_category_1_1,product_category_1_2,product_category_1_3,product_category_1_4,product_category_1_5
0,411705,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,208263,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,239450,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,547761,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,574275,1,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1

In [0]:
del test['DateTime']
del test['user_id']

In [0]:
test.head()

In [0]:
test.columns[1:len(test.columns)]

In [0]:
prediction_lr = lr.predict(test[test.columns[1:len(test.columns)]])
submission = pd.DataFrame({'session_id': test['session_id'], 'is_click': prediction_lr})
submission.to_csv("lr_submission.csv", sep=',', index = False)

In [0]:
predict_rf = rf.predict(test[test.columns[1:len(test.columns)]])
submission = pd.DataFrame({'session_id': test['session_id'], 'is_click': predict_rf})
submission.to_csv("rf_submission.csv", sep=',', index = False)

In [0]:
submission['is_click'].value_counts()

In [0]:
predict_rf_1 = rf1.predict(test[test.columns[1:len(test.columns)]])
submission = pd.DataFrame({'session_id': test['session_id'], 'is_click': predict_rf_1})
submission.to_csv("rf_submission_1.csv", sep=',', index = False)

In [0]:
predict_mlp = mlp.predict(test[test.columns[1:len(test.columns)]])
submission = pd.DataFrame({'session_id': test['session_id'], 'is_click': predict_mlp})
submission.to_csv("mlp_submission_1.csv", sep=',', index = False)

In [0]:
predict_tr = tr.predict(test[test.columns[1:len(test.columns)]])
submission = pd.DataFrame({'session_id': test['session_id'], 'is_click': predict_tr})
submission.to_csv("tr_submission_1.csv", sep=',', index = False)